$primary-color : (
  orange: hsl(26, 100%, 55%),
  pale-orange: hsl(25, 100%, 94%)
);

$neutral-color : (
  very-dark-blue: hsl(220, 13%, 13%),
  dark-grayish-blue: hsl(219, 9%, 45%),
  grayish-blue: hsl(220, 14%, 75%),
  light-grayish-blue: hsl(223, 64%, 98%),
  white:hsl(0, 0%, 100%),
  transparent-black: hsla(0, 0%, 0%, 0.75)
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  border: none;
  background-color: inherit;
}
.selected {
  opacity: 0.5;
}

body {
  padding: 0 10%;
  header {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    nav {
      ul {
        li {
          display: inline;
          .nav-link {
            display: inline-block;
            color: map-get($map: $neutral-color, $key: dark-grayish-blue);
            text-decoration: none;
            margin: 0 2%;
            padding: 5px 0;
          }
        }
      }
    }
    .user {
      margin-top: -10px;
      place-self: end;
      width: 100%;
      .btn-cart {
        margin-top: 15px;
        margin-left: 50%;
      }
      .cart-status {
        position: relative;
        top: -15px;
        left: -5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: map-get($map: $primary-color, $key: orange);
        color: white;
        text-align: center;
      }
      .avatar {
        float: right;
        width: 45px;
      }
    }
    hr {
      margin-top: 50px;
      margin-bottom: 40px;
      grid-column: 1/4;
    }
    .cart-content {
      position: absolute;
      right: 5%;
      z-index: 1;
      margin-top: 30px;
      width: 360px;
      min-height: 260px;
      padding: 25px;
      box-shadow: 0 20px 20px map-get($map: $neutral-color, $key: grayish-blue);
      border-radius: 15px;
      background-color: white;
      h3 {
        margin: 25px 0;
        font-weight: 700;
      }
      hr {
        margin: 0;
      }
      .product {
        margin: 25px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .thumbnail {
          width: 50px;
        }
        .product-info {
          .product-title {
            color: map-get($map: $neutral-color, $key: dark-grayish-blue);
            margin: 5px 0;
          }
          .price {
            color: map-get($map: $neutral-color, $key: dark-grayish-blue);
            .total {
              color: black;
              font-weight: 700;
            }
          }
        }
        .delete-from-cart {
          justify-self: end;
        }
      }
      .cart-empty {
        color: map-get($map: $neutral-color, $key: dark-grayish-blue);
        text-align: center;
        padding: 60px 0;
      }
      .checkout {
        background-color: map-get($map: $primary-color, $key: orange);
        color: white;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
      }
    }
  }
  main {
    margin: 0 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10%;
    .images {
      grid-column: 1/2;
      .display {
        margin-bottom: 32px;
        .display-img {
          width: 100%;
          border-radius: 15px;
        }
      }
      .thumbnails {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          width: 22%;
          img {
            width: 100%;
            border-radius: 10px;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    .product-info {
      padding: 80px 0;
      .company {
        color: map-get($map: $primary-color, $key: orange);
      }
      .product-title {
        font-weight: 700;
        font-size: 36px;
        margin: 36px 0;
      }
      .description {
        color: map-get($map: $neutral-color, $key: dark-grayish-blue);
        margin: 20px 0;
      }
    }
    .price {
      margin: 30px 0;
      .current-price {
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 10px;
      }
      .discount {
        background-color: map-get($map: $primary-color, $key: pale-orange);
        color: map-get($map: $primary-color, $key: orange);
        font-weight: 700;
        padding: 2px;
      }
      .original-price {
        display: block;
        color: map-get($map: $neutral-color, $key: dark-grayish-blue);
        text-decoration: line-through;
        margin: 10px 0;
      }
    }
    .add-to-cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .number {
        background-color: map-get($map: $neutral-color, $key: light-grayish-blue);
        width: 40%;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .number-of-product {
          display: inline-block;
          padding-top: 5px;
        }
        .remove {
          padding-bottom: 5px;
        }
      }
      .btn-add-to-cart {
        background-color: map-get($map: $primary-color, $key: orange);
        color: white;
        padding: 15px;
        border-radius: 10px;
        width: 55%;
        box-shadow: 0 30px 20px map-get($map: $primary-color, $key: pale-orange);
        img {
          width: 1rem;
        }
      }
    }
    .lightbox-bg {
      position: fixed;
      inset: 0;
      z-index: 2;
      grid-column: 1/3;
      background-color: map-get($map: $neutral-color, $key: transparent-black);
      .lightbox {
        @extend .images;
        width: 35%;
        margin: 0 auto;
        margin-top: 90px;
        text-align: right;
        .close {
          color: white;
          font-size: 40px;
          &:hover {
            color: map-get($map: $primary-color, $key: orange);
          }
        }
        .display-lightbox {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 32px;
          margin-left: -10%;
          width: 120%;
          .display-img {
            width: 90%;
            border-radius: 20px;
          }
          .prev {
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            margin-right: -25px;
            z-index: 1;
          }
          .next {
            @extend .prev;
            margin-right: 0;
            margin-left: -25px;
          }
        }
        .thumbnails {
          justify-content: space-around;
        }
      }
    }
  }
}